body {
  background-color: whitesmoke;
}

.row {
  margin-top: 150px;
}

h1 {
  font-size: 40px;
  font-weight: bold;
  color: #1778f2;
  font-family: Arial, Helvetica, sans-serif;
}

form {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
}

.form-group {
  margin-top: 5px;
}

.forgot {
  color: blue;
}

a {
  display: block;
  font-size: 11px;
}

.btn-success {
  font-size: 12px;
  background-color: mediumseagreen;
  border-color: white;
}

.underform-text {
  font-size: 10px;
  text-align: center;
}
